<h4>Ingredients</h4>

<form [formGroup]="recipeIngredientsForm"
      (ngSubmit)="saveRecipeIngredient(recipeIngredientsForm.value, recipeIngredientsForm.valid)">
    <div class="form-row form-group">

        <div class="col suggest-input-group">
            <label class="sr-only sr-only-focusable" for="ingredientNameInput">Name</label>
            <input type="text"
                   class="form-control"
                   id="ingredientNameInput"
                   placeholder="Name"
                   formControlName="name"
                   (focus)="showSuggestBox()"
                   (blur)="hideSuggestBox()">
            <div class="suggest-box" *ngIf="suggestBoxVisible">
                <a *ngFor="let suggestedIngredient of suggestedIngredients"
                   (click)="selectSuggestedIngredient(suggestedIngredient)">
                    <div>{{suggestedIngredient.name}}</div>
                </a>
            </div>
        </div>

        <div class="col">
            <label class="sr-only sr-only-focusable" for="ingredientAmountInput">Amount</label>
            <input type="number" class="form-control" id="ingredientAmountInput" placeholder="Amount"
                   formControlName="amount">
        </div>

        <div class="col">
            <label class="sr-only sr-only-focusable" for="ingredientUnitInput">Unit</label>
            <select class="form-control" id="ingredientUnitInput" formControlName="unit">
                <option *ngFor="let unit of units">{{unit}}</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-default">
        <span octicon="check" width="16"></span>
    </button>
</form>


<div style="margin-top: 40px">
    <table class="table table-striped">
        <tr *ngFor="let recipeIngredient of recipeIngredients">
            <td>
                {{recipeIngredient.ingredient.name}}
            </td>
            <td>
                {{recipeIngredient.amount}}
            </td>
            <td>
                {{recipeIngredient.unit}}
            </td>
            <td>
                <span octicon="pencil" (click)="editRecipeIngredient(recipeIngredient)" width="16"></span>
            </td>
            <td>
                <span octicon="x" (click)="deleteRecipeIngredient(recipeIngredient.id)" width="16"></span>
            </td>
        </tr>
    </table>
</div>
