<h4>Ingredients</h4>

<div>
    <form class="form-inline" [formGroup]="recipeIngredientsForm">
        <div class="form-group suggest-input-group">
            <label class="sr-only" for="ingredientNameInput">Name</label>
            <input type="text"
                   class="form-control"
                   id="ingredientNameInput"
                   placeholder="Name"
                   formControlName="name"
                   (focus)="showSuggestBox()"
                   (blur)="hideSuggestBox()">
            <div class="suggest-box" *ngIf="suggestBoxVisible">
                <a *ngFor="let suggestedIngredient of suggestedIngredients" (click)="selectSuggestedIngredient(suggestedIngredient)"><div>{{suggestedIngredient.name}}</div></a>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="ingredientAmountInput">Amount</label>
            <input type="number" class="form-control" id="ingredientAmountInput" placeholder="Amount" formControlName="amount">
        </div>
        <div class="form-group">
            <label class="sr-only" for="ingredientUnitInput">Unit</label>
            <select class="form-control" id="ingredientUnitInput" formControlName="unit">
                <option *ngFor="let unit of units">{{unit}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>

<div style="margin-top: 20px">
    <table class="table table-striped">
        <tr *ngFor="let recipeIngredient of recipeIngredients">
            <td>
                {{recipeIngredient.ingredient.name}}
            </td>
            <td>
                {{recipeIngredient.amount}}
            </td>
            <td>
                {{recipeIngredient.unit}}
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
</div>